.main-layout {
  display: flex;
  min-height: 100vh;
}
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.main-header {
  width: 100%;
  padding: 18px 34px 0 34px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.logout-btn {
  background: #D90429;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 9px 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.16s;
}
.logout-btn:hover {
  background: #ac1128;
}